<app-loading [load]="balancesLoad$ | async" (refresh)="loadBalances()">
  <div *ngIf="balancesPositive">
    <ul *ngFor="let exName of objectKeys(balancesPositive)">
      <h4>{{exName}}</h4>
      <li *ngFor="let market of objectKeys(balancesPositive[exName])">
        {{market}} Total {{balancesPositive[exName][market].total}}
      </li>
    </ul>
  </div>
</app-loading>
