<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
  <mat-form-field>
    <mat-select [(ngModel)]="timeframe" placeholder="Time frame">
      <mat-option *ngFor="let item of timeframes" [value]="item.value">{{item.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <app-loading [load]="exchangesLoad$ | async" (refresh)="loadExchanges()">
    <mat-form-field>
      <mat-select [(ngModel)]="exchange" (selectionChange)="loadMarkets($event.value)" placeholder="Exchange">
        <mat-option *ngFor="let ex of exchanges" [value]="ex">{{ex}}</mat-option>
      </mat-select>
    </mat-form-field>
  </app-loading>

  <app-loading [load]="marketsLoad$ | async" (refresh)="loadMarkets(exchange)">
    <mat-form-field *ngIf="markets[exchange]">
      <mat-select #selectMarket placeholder="Market" [(ngModel)]="market">
        <mat-option *ngFor="let name of markets[exchange]" [value]="name">{{name}}</mat-option>
        <!--<mat-option *ngFor="let name of objectKeys(markets[exchange])" [value]="name">{{name}}</mat-option>-->
      </mat-select>
    </mat-form-field>
  </app-loading>

  <button *ngIf="market" (click)="loadOHLCV()" mat-button matTooltip="Load history data" color="primary"><mat-icon>get_app</mat-icon>Load</button>
</div>

<app-loading [load]="OHLCVLoad$ | async" (refresh)="loadOHLCV()">
  <app-chart-d3 [OHLCV]="OHLCV$ | async"></app-chart-d3>
</app-loading>
