<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start center">

  <div style="height: 20px"></div>

  <div>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">

      <app-loading [load]="exchangesLoad$ | async" (refresh)="loadExchanges()">
        <mat-form-field>
          <mat-select [disabled]="isRun" [(ngModel)]="exchange" (selectionChange)="loadMarkets($event.value)" placeholder="Exchange">
            <mat-option *ngFor="let ex of exchanges" [value]="ex">{{ex}}</mat-option>
          </mat-select>
        </mat-form-field>
      </app-loading>

      <app-loading [load]="marketsLoad$ | async" (refresh)="loadMarkets(exchange)">
        <div *ngIf="markets[exchange]" style="margin-right: 5px;">
          <mat-chip>{{markets[exchange].length}} markets</mat-chip>
        </div>
      </app-loading>

      <mat-form-field>
        <mat-select [disabled]="isRun" [(ngModel)]="timeframe" placeholder="Time frame">
          <mat-option *ngFor="let item of timeframes" [value]="item.value">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
      <mat-form-field>
        <mat-select [(ngModel)]="tfCalcType" placeholder="% type">
          <mat-option *ngFor="let type of tfCalcTypes" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput [disabled]="isRun" [matDatepicker]="picker" placeholder="Choose a date" [value]="startDate" (change)="dateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Limit</mat-label>
        <input [(ngModel)]="limit" [disabled]="isRun" matInput>
      </mat-form-field>
    </div>

  </div>


  <mat-progress-bar *ngIf="isRun" class="progress-bar" mode="determinate" [value]="progressPrec"></mat-progress-bar>

  <button (click)="load()" *ngIf="!isRun" [disabled]="!timeframe || !markets[exchange]?.length"
          mat-raised-button matTooltip="Load history data" color="primary"><mat-icon>get_app</mat-icon>Load</button>

  <mat-chip-list #chipList>
    <mat-chip *ngFor="let task of tasks$ | async" [selectable]="true"
              [removable]="true" (removed)="removeTask(task)"
              [color]="task?.state?.taskState == 'RUN' ? 'primary' : 'warn'" [selected]="task?.state?.taskState != 'FINISH'">
      {{task._id}}
      <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>

  <table mat-table [dataSource]="sortedData" matSort matSortDisableClear matSortStart="desc" (matSortChange)="sortData($event)">

    <ng-container matColumnDef="market">
      <th mat-header-cell *matHeaderCellDef> Market </th>
      <td mat-cell *matCellDef="let row"> {{row.market}} </td>
    </ng-container>

    <ng-container matColumnDef="{{title}}" *ngFor="let title of tfHeaders(); let i=index">
      <th mat-sort-header="{{title}}" mat-header-cell *matHeaderCellDef> {{title}} </th>
      <td mat-cell *matCellDef="let row"> {{tfValue(row.values[i]) | number : '1.2-2'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns()"></tr>
    <tr mat-row *matRowDef="let row; columns: columns();"></tr>
  </table>

  <div style="height: 50px"></div>

</div>
